<!DOCTYPE HTML>
<html>
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
    <div id='container'>Container</div>
    
    <div id="todo">
    </div>
    <script type="text/template" id="item-template">
        <div>
        <input id="todo_complete" type="checkbox" <%= completed ? 'checked="checked"' : '' %>>
        <%= title %>
        </div>
    </script>

<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.9.1/jquery.min.js"></script>
<script src="http://underscorejs.org/underscore-min.js"></script>
<script src="http://backbonejs.org/backbone-min.js"></script>
<script>
    
    // Create a blank Model 
    var Todo = Backbone.Model.extend({});

    // We can then create our own concrete instance of a (Todo) model
    // with no values at all:
    var todo1 = new Todo();
    // Following logs: {}
    console.log(JSON.stringify(todo1));

    // or with some arbitrary data:
    var todo2 = new Todo({
        title: 'Check the attributes of both model instances in the console.',
        completed: true
    });
    // Following logs: {"title":"Check the attributes of both model instances in the console.","completed":true}
    console.log(JSON.stringify(todo2));
    
    
    // Initialize Method 
    var Todo = Backbone.Model.extend({
        initialize: function(){
            console.log('This model has been initialized.');
        }
    });

    
    // Defaults 
    var myTodo = Backbone.Model.extend({
        // default attribuet values 
        defaults: {
            title: '',
            completed: false,
            name: 'Dom'
        }
    });
    
    var myTodoList = new myTodo(); 
    console.log(myTodoList.toJSON());
    console.log(JSON.stringify(myTodoList));
    // these output of the second call is the stringified version of the first call 
    
    
    // Model.set()
    // Set one attribute at a time 
    myTodoList.set('title', 'shopping list');
    // Set both attributes at once
    myTodoList.set({
        title: 'shopping list updated',
        completed: true
    });
    
    
    // Events and direct access 
    var Person = Backbone.Model.extend({
        defaults: {
            name: '',
            species: 'Human'
        },
        initialize: function() {
            console.log(`New human ${this.attributes.name}!`);
        }
    });
    var me = new Person({name: 'Dom'});
    
    // Add a name change handler - notice that we add this to the instance not the Model itself
    me.on('change:name', function() {
        console.log(`Name changed to ${this.attributes.name}`); 
    });
    me.set({name: 'Kobe'});
    // If we set it manually through .attributes it won't call this function 
    me.attributes.name = 'Snoopy';
    me.set({name: 'Lebron'}, {silent: true});
    console.log(me.get('name')); 
    
    // Add a listener in the initialize functions 
    var Person = Backbone.Model.extend({
        defaults: {
            name: '',
            species: 'Human'
        },
        initialize: function() {
            console.log(`New human ${this.attributes.name}!`);
            this.on('change', () => {console.log('attributes changed!');});
        }
    });
    var me = new Person({name: 'Dom'});
    me.set({name: 'Steph'});
    
    
    // Add an attribute specific listener
    var Movie = Backbone.Model.extend({
        defaults: {
            title: '',
            length: 0
        },
        initialize: function() {
            console.log('Movie initialized');
            this.on('change:title', () => {console.log('Movie title updated!');});
        },
        validate: function(attributes) {
            if (attributes.title == '') {
                return('Remember to set a title for your movie');
            }
        },
        // we can also call .set methods in defined methods 
        setTitle: function(newTitle) {
            this.set('title', newTitle);
        }
    });
    var batman = new Movie({title: 'Batman Begins', 'length': '150'});
    batman.setTitle('The Dark Knight');
    batman.set('length', 165); // function was not called
    // Test validation 
    var newMovie = new Movie();
    newMovie.validate(newMovie.attributes);
    
    
    //----------------------//
    //        Views         //
    //----------------------//
    
    // Create a new element for the view 
    // Assigning className and Ids are optional 
    var TodoView = Backbone.View.extend({
        tagName: 'ul',
        className: 'container homepage myClass', // we can assign multiple classes
        id: 'toDos'
    });
    var TodosView = new TodoView();
    console.log(TodosView.el);
    
    // Set el to a pre-existing div (<div id='container'>Container</div>)
    var TodoView = Backbone.View.extend({
        tagName: 'ul',
        className: 'container homepage myClass', // we can assign multiple classes
        id: 'toDos',
        el: '#container'
    });
    var TodosView = new TodoView();
    console.log(TodosView.el); // we can see that setting el to an element overrides the 'tagName', 'className', and 'id' attributes.
    
    //setElement 
    var button1 = $('<button></button>');
    var button2 = $('<button></button>');
    // Define a new View 
    var View = Backbone.View.extend({
        events: {
            click: function(e) {
                console.log(View.el === e.target);
            }
        }
    });
    // Create a new instance of the view - applying it to button1
    var view = new View({el: button1});
    // .trigger mimics the event that you pass into it 
    view.trigger('click');
    
    
    // render and templates 
    var ListView = Backbone.View.extend({
        // Set the html to the output of passing the model attributes into the template
        render: function() {
            this.$el.html(this.template(this.model.attributes));
            return this;
        }
    });
    
    

</script>
</body>
</html>